.info {
    float: left;
    width: 100%;
    line-height: 40px;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 2px;
}
.icon {
    height: 32px;
    width: 32px;
    float: left;
    margin-right: 24px;
}
a:link,
a:visited {
    text-decoration: none !important;
    color: #323232;
}
