@import '~/assets/sass/breakpoints.scss';
@import '~/assets/sass/color.scss';


@font-face{
    font-family: 'ClassicGrotesquePro-Light';
    src: url('~/static/ClassicGrotesquePro-Light.otf');
}

@font-face{
    font-family: 'ClassicGrotesquePro-LightIt';
    src: url('~/static/ClassicGrotesquePro-LightIt.otf');
}

@font-face{
    font-family: 'ClassicGrotesquePro-SmBd';
    src: url('~/static/ClassicGrotesquePro-SmBd.otf');
}

@font-face{
    font-family: 'ClassicGrotesquePro-SmBdIt';
    src: url('~/static/ClassicGrotesquePro-SmBdIt.otf');
}

@font-face{
    font-family: 'HandOfSean';
    src: url('~/static/HandOfSean.ttf');
}

@font-face{
    font-family: 'Sentinel-Book';
    src: url('~/static/Sentinel-Book.otf');
}


/*default*/

body{
    font-weight: 400;
    color: $black;
    font-family: "Sentinel-Book";
}

/*reset*/

h1, h2, h3, h4, h5, h6{
    margin: 0;
    font-weight: 500;
    font-size: 1rem;
    font-family: 'ClassicGrotesquePro-SmBd';
    span.p{
        display: block;
    }
}

h2 {
    font-size: 32px;
}

p {
    
}

p, ul, ol{
    &:first-child{
        margin-top: 0;
    }
}

p, ul, ol{
    &:last-child{
        margin-bottom: 0;
    }
}

section.intro li {
    margin-bottom: 0.8rem;
}


a{
    color: inherit;
}

a:hover{
}

nav a{
    text-decoration: none;
}

/*modular*/

.nav{
    font-family: 'ClassicGrotesquePro-SmBd';
    font-size: 14px;
    letter-spacing: 2px;
}


.caps{
    text-transform: uppercase;
}

.hw{
    font-family: 'HandOfSean';
    color: $grey;
}

/*sizing*/

.s1{
    font-size: 162px;
    line-height: 158px;
}

.s2{
    font-size: 62px;
    line-height: 74px;
    
    @include media('<medium'){
        font-size: 40px;
        line-height: 50px;
    }
}

.s3{
    font-size: 15pt;
}

.s4{
    font-size: 26px;
    line-height: 1.6;
    @include media('<medium'){
        font-size: 22px;
        line-height: 1.6;
    }
}

/*weight*/

.bold{
    font-weight: 500;
}

.italic{
    font-style: italic;
}