
.modal{
    position: fixed;
    z-index: 2000;
    width: 100%;
    height: 100vh;
    top:0;
    left:0;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
    .bio{
        position:relative;
        pointer-events: all;
        width: 90%;
        max-width: 1042px;
        background: white;
        padding: 76px;
        display: flex;
        font-family: 'Sentinel-Book';
        font-size: 18px;
        line-height: 32px;
        color: $grey;
        .left{
            width: 209px;
            margin-right: 70px;
        }
        .right{
         .s4{
            margin-top: 70px;
           }
        }
    }
}

  .portfolio,
  .email {
    font-family: 'ClassicGrotesquePro';
    font-style:italic;
    text-decoration: underline;
    font-weight: 300;
  }

  .social img {
    width:20px;
    margin-right: 11px;
    margin-top: 15px;
  }

  .close{
    position: absolute;
    width: 24px;
    top:-32px;
    right:0px;
    pointer-events: none;
  }
