
.modal{
    position: fixed;
    z-index: 2000;
    width: 100%;
    height: 100vh;
    top:0;
    left:0;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
    .bio{
        position:relative;
        pointer-events: all;
        width: 1042px;
        background: white;
        padding: 76px;
        display: flex;
        font-family: 'Sentinel-Book';
        font-size: 18px;
        line-height: 32px;
        color: $grey;
        .left{
            width: 209px;
            margin-right: 70px;
        }
        .right{
         .s4{
            margin-top: 70px;

           }

        }
    }
}

  .close{
    position: absolute;
    width: 24px;
    top:24px;
    right:24px;
    cursor: pointer;
  }
