section{
    max-width: 1280px;
    width: 100%;
    margin: auto;
    padding: 50px;
    position: relative;
    overflow-x: hidden;
}


body{
    background: url(~/static/grid.png);
    background-repeat: repeat-y;
    background-position: top center;
    @include media('<medium'){
      background: url(~/static/grid_mobile.png);
      background-position: 45px;
      background-repeat: repeat-y;
    }
}

.main{
    width: auto;
}

.search{
  display: flex-end;
  width: 300px;
  padding: 2px;
	font-family: 'ClassicGrotesquePro';
  font-size: 16px;
  border:none;
	border-bottom: 2px solid black;
	line-height: 3;
  box-shadow: none;
}

.grid{
    max-width:1080px;
    margin:auto;
    display:flex;
    flex-wrap: wrap;
    align-content: space-between;
    @include media('<medium'){
      max-width:100%;
      margin-top: 32px;
  }
    .griditem{
        width: 33%;
        margin-bottom: 62px;
        display: inline-flex;
        flex-direction: column;
        justify-content: flex-start;
        @include media('<large'){
          width:50%;
      }
        @include media('<medium'){
          width:100%;
      }


    }
}


.controlsContainer{
  width: 60%;
  margin: 16px 32px 64px 0px;
  @include media('<medium'){
    width: 100%;
  }
}

.controls {
  display: inline-block;
  font-family: 'ClassicGrotesquePro';
  font-style: italic;
  font-size: 20px;
  color: $black;
  margin: 11px 10px;
  padding: 8px 20px;
  cursor: pointer;
  border: 2px solid $black;
}

.filter{
    align-self: flex-end;
    @include media('<medium'){
        align-self: flex-start;
        display: none;
    }
    img{
      margin-left: 40%;
        align-self: flex-end;
        @include media('<medium'){
            transform: scale(0.75);
            margin-left: 20%;
        }
    }
  }

  .filtration{
    width: 100%;
    margin-bottom: 62px;
    display: inline-flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-start;
    @include media('<medium'){
      margin-top: 64px;
    }
  }
