section{
    max-width: 1280px;
    margin: auto;
}

#hero{
    height: 100vh;
    width: 1080px;
    display: flex;
    align-items: center;
}

#intro{
    height: 50vh;
    display: flex;
    flex-direction: column;
    >.inner{
        width: 45%;
    }
    .text{
        margin-top: 40px;
        font-size: 22px;
    }
}

.highlight-container{
    position: relative;
    .highlight{
        position: absolute;
        em{
            font-style: normal;
        }
    }
    .shadow{
        z-index: -1;
        color: transparent;
        em{
            transform: rotate(-2deg) scale(1.1);
            display: inline-block;
            background: $blue;
        }
    }
}

#sponsors{
    .logos{
        grid-column: 3/22;
        display: flex;
        justify-content: space-between;
    }
}