section{
    max-width: 1280px;
    width: 100%;
    margin: auto;
    padding: 50px;
    position: relative;
}

body{
    background: url(~/static/grid.png);
    background-repeat: repeat-y;
    background-position: top center;
}

#hero{
    height: 100vh;
    max-width: 1080px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    .heading{
        height: 75%;
//        width: 100%;
    }
}

#intro{
    background: url('/dotgrid-lg.svg');
    background-repeat: no-repeat;
    background-position: top 0 left -300px;
    margin-top: 50px;
    padding: 100px 50px;
    max-width: 100%;
    width: 100%;
    >.inner{
        max-width: 1080px;
        margin: auto;
        display: flex;
        justify-content: flex-end;
        >div{
            max-width: 505px;
        }
    }
    .text{
        margin-top: 40px;
    }
}

#deets{
    background: url('/dotgrid-lg.svg');
    background-repeat: no-repeat;
    background-position: bottom 0 left 700px;
    padding-bottom: 200px;
    max-width: 100%;
    width: 100%;
    overflow: hidden;
    >.inner{
        margin: auto;
        max-width: 1080px;
        display: flex;
        flex-direction: column;
        >div{
            display: flex;
            flex-direction: column;
        }
        >#where{
            align-self: flex-end;
            @include media('<medium'){
                align-self: flex-start;
            }
            >img{
                align-self: flex-end;
                @include media('<medium'){
                    transform: scale(0.75);
                }
            }
        }
        >#invitation{
            padding-top: 100px;
            >a{
                align-self: center;
                @include media('<medium'){
                    transform: scale(0.75);
                }
            }
        }
    }
}

#specialthanks{
    display: flex;
    margin-bottom: 50px;
    flex-direction: column;
    justify-content: center;
    .heading{
        text-align: center;
    }
    .logos{
        display: flex;
        @include media('<medium'){
            flex-direction: column;
        }
        justify-content: center;
        align-items: center;
        img{
            margin-top: 30px;
            margin-left: 73px;
            margin-right: 73px;
        }
    }
}
